<a href="https://colab.research.google.com/github/RifleB-1311/Baitap-numpy/blob/main/Pandas02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Câu 1: Tạo các Series với kích thước 1x10 thỏa mãn yêu cầu:
- Series 1: có tên là “Họ và tên” và dữ liệu (định tính) do bạn tự nhập vào
- Series 2: có tên là “Ngày sinh” & dữ liệu do bạn tự nhập vào
- Series 3: có tên là “Tiền công/h” có dữ liệu định lượng do bạn tự nhập
- Series 4: có tên là “Số h công” có dữ liệu định lượng do bạn tự nhập
- Series 5: có tên là “Thực lĩnh” có kích thước 1x10 và để trống
Hãy:
- Tạo 1 dataframe bằng cách ghép các series trên lại với nhau
- Hãy tính giá trị cho cột (column) “Thực lĩnh” theo công thức:
Thực lĩnh = “Số h công” x “Tiền công/h”

- Hãy in toàn bộ dataframe ở trên ra màn hình

In [ ]:
import pandas as pd
a = ["Nguyễn A", "Nguyễn B", "Nguyễn C", "Nguyễn D", "Nguyễn E", "Nguyễn F", "Nguyễn G", "Nguyễn H", "Nguyễn I", "Nguyễn J"]
b = ["1/1/2000", "2/2/2000", "3/3/2000", "4/4/2000", "5/5/2000", "6/6/2000", "7/7/2000", "8/8/2000", "9/9/2000", "10/10/2000"]
c = [7, 9, 8, 9, 8, 7, 6, 7, 9, 10]
d = [20, 17, 15, 19, 8, 22, 34, 8, 35, 27]
f = []
for i in range(0, len(c)):
    a = c[i]*d[i]
    f.append(a)
name = pd.Series(a, name="Tên")
birthday = pd.Series(b, name = "Ngày sinh")
salaryh = pd.Series(c, name = "Lương theo giờ")
workh = pd.Series(d, name = "Giờ làm")
salary = pd.Series(f, name = "Lương")
name1= pd.DataFrame(name)
print(f)
n = pd.concat([name1, birthday, salaryh, workh, salary], axis=1)
print(n)

[140, 153, 120, 171, 64, 154, 204, 56, 315, 270]
     Tên   Ngày sinh  Lương theo giờ  Giờ làm  Lương
0  270.0    1/1/2000               7       20    140
1    NaN    2/2/2000               9       17    153
2    NaN    3/3/2000               8       15    120
3    NaN    4/4/2000               9       19    171
4    NaN    5/5/2000               8        8     64
5    NaN    6/6/2000               7       22    154
6    NaN    7/7/2000               6       34    204
7    NaN    8/8/2000               7        8     56
8    NaN    9/9/2000               9       35    315
9    NaN  10/10/2000              10       27    270

Câu 2: Khởi tạo dataframe bằng các phương pháp khác nhau, hãy:
- Tạo dataframe có kích thước 10x3 từ cấu trúc list tương ứng, với dữ liệu cho dataframe
này gồm các cột Họ tên, Tuổi và Giới tính. Xuất kết quả ra màn hình;
- Tạo dataframe như trên nhưng từ cấu trúc Dictionary có chứa các List giá trị tương ứng
với key. Xuất kết quả ra màn hình;
- Tạo dataframe như trên nhưng từ cấu trúc List của các dictionary. Xuất kết quả ra màn
hình;
- Tạo 3 list (1x10) tương ứng với Họ tên, Tuổi và Giới tính. Sử dụng hàm zip() để tạo
dataframe từ 3 list riêng biệt này. Xuất kết quả ra màn hình.

In [5]:
import pandas as pd
import numpy as np
a = [["Nguyễn A", "Nguyễn B", "Nguyễn C", "Nguyễn D", "Nguyễn E", "Nguyễn F", "Nguyễn G", "Nguyễn H", "Nguyễn I", "Nguyễn J"],
     [16, 17,18,19,20,21,22,23,24,25],
     ["Nam", "Nam", "Nam", "Nam", "Nam", "Nữ", "Nam", "Nam", "Nam", "Nữ"]]
b = np.array(a)
b1 = np.transpose(b)
a1 = pd.DataFrame(b1, columns = ["Tên", "tuổi", "Giới Tính"])
print(a1)

        Tên tuổi Giới Tính
0  Nguyễn A   16       Nam
1  Nguyễn B   17       Nam
2  Nguyễn C   18       Nam
3  Nguyễn D   19       Nam
4  Nguyễn E   20       Nam
5  Nguyễn F   21        Nữ
6  Nguyễn G   22       Nam
7  Nguyễn H   23       Nam
8  Nguyễn I   24       Nam
9  Nguyễn J   25        Nữ

In [6]:
import pandas as pd
a = {"Tên" :["Nguyễn A", "Nguyễn B", "Nguyễn C", "Nguyễn D", "Nguyễn E", "Nguyễn F", "Nguyễn G", "Nguyễn H", "Nguyễn I", "Nguyễn J"],
"Tuổi": [16, 17,18,19,20,21,22,23,24,25],
"Giới tính": ["Nam", "Nam", "Nam", "Nam", "Nam", "Nữ", "Nam", "Nam", "Nam", "Nữ"]}
n = pd.DataFrame(a)
print(n)

        Tên  Tuổi Giới tính
0  Nguyễn A    16       Nam
1  Nguyễn B    17       Nam
2  Nguyễn C    18       Nam
3  Nguyễn D    19       Nam
4  Nguyễn E    20       Nam
5  Nguyễn F    21        Nữ
6  Nguyễn G    22       Nam
7  Nguyễn H    23       Nam
8  Nguyễn I    24       Nam
9  Nguyễn J    25        Nữ

In [8]:
import pandas as pd
a = [{"Tên":"Nguyễn A", "Tuổi":16, "Giới tính": "Nam"},
     {"Tên":"Nguyễn B", "Tuổi":17, "Giới tính": "Nam"},
     {"Tên":"Nguyễn C", "Tuổi":18, "Giới tính": "Nam"},
     {"Tên":"Nguyễn D", "Tuổi":19, "Giới tính": "Nam"},
     {"Tên":"Nguyễn E", "Tuổi":20, "Giới tính": "Nam"},
     {"Tên":"Nguyễn F", "Tuổi":21, "Giới tính": "Nữ"},
     {"Tên":"Nguyễn G", "Tuổi":22, "Giới tính": "Nam"},
     {"Tên":"Nguyễn H", "Tuổi":23, "Giới tính": "Nam"},
     {"Tên":"Nguyễn I", "Tuổi":24, "Giới tính": "Nam"},
     {"Tên":"Nguyễn J", "Tuổi":25, "Giới tính": "Nữ"}]
n = pd.DataFrame(a)
print(n)

        Tên  Tuổi Giới tính
0  Nguyễn A    16       Nam
1  Nguyễn B    17       Nam
2  Nguyễn C    18       Nam
3  Nguyễn D    19       Nam
4  Nguyễn E    20       Nam
5  Nguyễn F    21        Nữ
6  Nguyễn G    22       Nam
7  Nguyễn H    23       Nam
8  Nguyễn I    24       Nam
9  Nguyễn J    25        Nữ

In [9]:
import pandas as pd
a = ["Nguyễn A", "Nguyễn B", "Nguyễn C", "Nguyễn D", "Nguyễn E", "Nguyễn F", "Nguyễn G", "Nguyễn H", "Nguyễn I", "Nguyễn J"]
b = [16,17,18,19,20,21,22,23,24,25]
c = ["Nam", "Nam", "Nam", "Nam", "Nam", "Nữ", "Nam", "Nam", "Nam", "Nữ"]
d = list(zip(a, b, c))
d1 = pd.DataFrame(d, columns = ["Tên", "Tuổi", "Giới tính"])
print(d1)

        Tên  Tuổi Giới tính
0  Nguyễn A    16       Nam
1  Nguyễn B    17       Nam
2  Nguyễn C    18       Nam
3  Nguyễn D    19       Nam
4  Nguyễn E    20       Nam
5  Nguyễn F    21        Nữ
6  Nguyễn G    22       Nam
7  Nguyễn H    23       Nam
8  Nguyễn I    24       Nam
9  Nguyễn J    25        Nữ